.now/*
.next/*
*.css
.changeset
.contentlayer
dist
tests/*
public/
.DS_Store
node_modules
coverage
.next
next.config.js
!.storybook
/**/.storybook/**
!.commitlintrc.cjs
!.lintstagedrc.cjs
!jest.config.js
!plopfile.js
!tsup.config.ts